body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid seashell;
  height: 69px;
  z-index: 1;
}

.logo {
  padding-left: 10px;
}

nav span a {
  color: seashell;
  padding-right: 20px;
}

.section-mission {
  display: flex;
  justify-content: center;
}

.mission {
  display: flex;
  width: 100%;
  justify-content: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  flex-direction: column;
}

.mission-title {
  background-color: black;
}

.mission-text {
  background-color: black;
}

h2, h4 {
  margin: 0;
  padding: 10px;
}

.section-totm {
  height: 1000px;
  width: 800px;
  margin: auto;
  padding-top: 60px;
}

.teas-totm {
  display: flex;
  text-align: center;
  width: 100%;
  height:auto;
  margin:auto;
}

.teas img {
  height: 200px;
  width: 300px;
  border: 1px solid blue;

}
